/* ===================== */
/* COMMOM CSS */
:root {
  --clicker-font: "Clicker Script", serif;
  --playfair-font: "Playfair Display", serif;
  --primary-color: #f9c06a;
  --secondary-color: #603809;
  --body-color: #fffefc;
  --grey-color: #707070;
  --card-bgcolor: #fff9f1;
}

body {
  font-family: var(--playfair-font);
  background-color: var(--body-color);
}

.section-title {
  color: var(--secondary-color);
}

.section-description {
  color: var(--grey-color);
}

/* ===================== */
/* primary button CSS */

.primary-button {
  background-color: var(--primary-color);
  box-shadow: 0px 6px 12px rgba(249, 192, 106, 0.22);
}

.primary-button:hover {
  background-color: var(--primary-color);
}

.btn-primary.primary-button:active {
  background-color: var(--primary-color);
}

/* ===================== */
/* Header CSS */

.nav-logo {
  font-family: var(--clicker-font);
  font-size: 2.2rem;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: var(--primary-color);
}
.sign-in-link {
  text-decoration: underline;
}

.navbar-fixed {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: var(--secondary-color);
}

/* ===================== */
/* Hero Section CSS */

.hero-section {
  height: 80vh;
  width: 100%;
  background-image: linear-gradient(90deg, #1e1e1e 0%, rgba(0, 0, 0, 0)),
    url("../assets/images/coffee_image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section-text-padding {
  padding-top: 8rem;
}

.coffee-lg-text {
  font-size: 14rem;
  font-family: var(--clicker-font);
  margin: 0;
}

/* ===================== */
/* Discover Section CSS */

.discover-section {
  position: relative;
}

.discover-text {
  color: var(--secondary-color);
}

.discover-description {
  color: var(--grey-color);
}

.coffee-blast-1 {
  position: absolute;
  left: 0px;
  bottom: -60px;
}
/* ===================== */
/* Product Section CSS */

.product-card {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background-color: var(--card-bgcolor);
}
.card-title {
  color: var(--secondary-color);
}
.product-price {
  color: var(--secondary-color);
}

.product-card-btn {
  position: absolute;
  bottom: -20px;
}

.product-section {
  position: relative;
}

.coffee-blast-2 {
  position: absolute;
  right: 0px;
  bottom: -170px;
}

/* ===================== 
/* About Section CSS */

.about-card {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background-color: var(--card-bgcolor);
}

.about-card:hover {
  background-color: #ffeed8;
}

.card-icon {
  height: 80px;
  width: 80px;
}

/* ===================== 
/* Promotion Section CSS */

.promotion-section {
  position: relative;
  height: 60vh;
  background-image: url("../assets/images/coffee-cup-and-beans.png");
  background-size: cover;
  z-index: 1;
}
.promotion-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(96, 56, 9, 0.6); /* overlay only */
  z-index: 1;
}

.grain-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.content-overlay {
  position: relative;
  z-index: 4;
}

/* ===================== 
/* Testimonial Section CSS */

.testimonial-card {
  border: 1px solid rgba(249, 192, 106, 0.42);
  background-color: var(--card-bgcolor);
  padding: 6rem;
}

.testimonial-avatar {
  position: absolute;
  bottom: -50px;
}
.testimonial-image {
  height: 100px;
  width: 100px;
  z-index: 1002;
}
.testimonial-previous-btn {
  position: absolute;
  top: 45%;
  left: -30px;
  height: 80px;
  width: 80px;
  background-color: var(--primary-color);
}

.testimonial-next-btn {
  position: absolute;
  top: 45%;
  right: -30px;
  height: 80px;
  width: 80px;
  background-color: var(--primary-color);
}
.testimonial-icon {
  color: var(--secondary-color);
}
.testimonial-text {
  color: var(--grey-color);
}

.testimonial-section {
  position: relative;
}

.coffee-blast-2 {
  position: absolute;
  right: 0px;
  top: 90px;
}

.coffee-blast-3 {
  position: absolute;
  left: 0px;
  bottom: -50px;
}

/* ===================== 
/* Subscribe Section CSS */

.subscribe-section {
  position: relative;
  background-image: url("../assets/images/coffee-cup-and-beans.png");
  background-size: cover;
  z-index: 1;
}
.subscribe-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(96, 56, 9, 0.6); /* overlay only */
  z-index: 1;
}

.subscribe-content {
  position: relative;
  z-index: 4;
}
.subscribe-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.btn.btn-primary.subscribe-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn.btn-primary.subscribe-button:active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.coffee-cup-1 {
  position: absolute;
  bottom: -100px;
  left: 0px;
  z-index: 5;
}

.coffee-cup-2 {
  position: absolute;
  right: 0px;
  bottom: -100px;
  z-index: 5;
}

/* ===================== 
/* Footer Section CSS */

.footer-section {
  height: 50vh;
  position: relative;
  background-image: url("../assets/images/fotter_image.png");
  background-size: contain;
  z-index: 1;
}
.footer-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(68, 40, 8, 0.9); /* overlay only */
  z-index: 1;
}

.footer-content {
  z-index: 2;
}
